torch
torchvision
torchaudio
torch-uncertainty
pytorch-lightning
lightly
numpy
pandas
scikit-image
scikit-learn
scipy
opencv-python
matplotlib
seaborn
nibabel
SimpleITK
monai
wandb
pytz
python-dateutil
h5py
openpyxl
transformers
huggingface_hub[cli]
einops
Flask
gitdb
idna
loguru
mdurl
medmnist
ml_collections
monai-generative
ninja
oauthlib
python-dotenv
s3fs
sympy
toml
tqdm
waitress
pydicom
lpips
datasets
accelerate
bitsandbytes
git+https://github.com/huggingface/diffusers
git+https://github.com/jonbarron/robust_loss_pytorch